body {
    background: #bdc3c7;
    font-size: 16px;
    font-weight: bold;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    margin: 0;
}

.record {
    width: 400px;
    background: #ecf0f1;
    padding: 20px;
    border: 4px solid #fff;
    border-radius: 12px;
    margin: 16px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.plate {
    width: 400px;
    background: #ecf0f1;
    padding: 20px;
    border: 4px solid #fff;
    border-radius: 12px;
    margin: 16px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.name, .time {
    margin-right: 16px;
}